{% extends 'clientes/base2.html' %}
{% load meus_filtros %}
{% block title %}
  Lista de
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">id - {{ cliente.nome }}</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ cliente.email }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <h3>Seus Pets</h3>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nome</th>
          <th scope="col">categoria</th>
          <th scope="col">cor</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for pet in pets %}
          <tr>
            <th scope="row">{{ pet.id }}</th>
            <td>
              {{ pet.nome }}
            </td>
            <td>{{ pet.get_categoria_display }}</td>
            <td>{{ pet.get_cor_display }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'listar_pet_id' pet.id %}">Consultas</a>
              <a class="btn btn-primary" href="{% url 'cadastrar_consulta' pet.id %}">Cadastrar Consulta</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table">
      <thead>
        <h3>Consultas dos Pets</h3>
        <tr>
          <th scope="col">id</th>
          <th scope="col">pet</th>
          <th scope="col">motivo_consulta</th>
          <th scope="col">peso_atual</th>
          <th scope="col">medicamento_atual</th>
          <th scope="col">medicamentos_prescritos</th>
          <th scope="col">exames_prescritos</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for consulta in consultas %}
          <tr>
            <th scope="row">{{ consulta.id }}</th>
            <td>
              {{ consulta.pet.nome }}
            </td>
            <td>{{ consulta.motivo_consulta }}</td>
            <td>{{ consulta.peso_atual }}</td>
            <td>{{ consulta.medicamento_atual }}</td>
            <td>{{ consulta.medicamentos_prescritos }}</td>
            <td>{{ consulta.exames_prescritos }}</td>
            <td><a class="btn btn-primary" href="{% url 'listar_consulta_id' consulta.id %}">Ver</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
