{% extends 'clientes/base.html' %}
{% load meus_filtros %}
{% block title %}
  Lista de
{% endblock %}

{% block content %}
  <div class="container">
    <table class="table">
      <h3>Cliente</h3>
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nome</th>
          <th scope="col">email</th>
          <th scope="col">endereco</th>
          <th scope="col">cpf</th>
          <th scope="col">data_nascimento</th>
          <th scope="col">profissao</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ cliente.id }}</th>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.endereco.rua }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.data_nascimento }}</td>
          <td>{{ cliente.profissao }}</td>
          <td>
            <a href="http://">Editar</a>
            <a href="http://">Remover</a>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <table class="table">
      <thead>
        <h3>Pet</h3>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nome</th>
          <th scope="col">categoria</th>
          <th scope="col">cor</th>
        </tr>
      </thead>
      <tbody>
        {% for pet in pets %}
          <tr>
            <th scope="row">{{ pet.id }}</th>
            <td>
              <a href="{% url 'listar_pet_id' pet.id %}">{{ pet.nome }}</a>
            </td>
            <td>{{ pet.get_categoria_display }}</td>
            <td>{{ pet.get_cor_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <table class="table">
      <thead>
        <h3>Consultas Pet</h3>
        <tr>
          <th scope="col">id</th>
          <th scope="col">pet</th>
          <th scope="col">motivo_consulta</th>
          <th scope="col">peso_atual</th>
          <th scope="col">medicamento_atual</th>
          <th scope="col">medicamentos_prescritos</th>
          <th scope="col">exames_prescritos</th>
        </tr>
      </thead>
      <tbody>
        {% for consulta in consultas %}
          <tr>
            <th scope="row">{{ consulta.id }}</th>
            <td>
              <a href="{% url 'listar_consulta_id' cliente.id %}">{{ consulta.pet.nome }}</a>
            </td>
            <td>{{ consulta.motivo_consulta }}</td>
            <td>{{ consulta.peso_atual }}</td>
            <td>{{ consulta.medicamento_atual }}</td>
            <td>{{ consulta.medicamentos_prescritos }}</td>
            <td>{{ consulta.exames_prescritos }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
